<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cifar模型预测不确定</title>
</head>
<body>

{% extends "bootstrap/base.html" %}

{% block content %}
<h1 class="text-center">人工标注页面</h1>
<form action=""  method='POST'>
    <div class="row" style="margin-top：20px">
        <div class="col-sm-6 col-md-3">
           <div class="thumbnail">
               <img src=" "
                alt="通用的占位符缩略图">
               <div class="caption">
                    <h3>机器给出的结果是: {{ name }}</h3>
                <h4>对应概率为:{{ name1 }}</h4>
                <p>请给出标签，标签有： 'airplane' 'automobile' 'bird' 'cat'
                    'deer' 'dog' 'frog' 'horse' 'ship' 'truck'</p>
                <p>您也可以自己增加</p>
                标注<input type="text" name="label" list="mylist1">
                          <datalist id="mylist1">
                              <option value="airplane"></option>
                              <option value="automoblie"></option>
                              <option value="bird"></option>
                              <option value="cat"></option>
                              <option value="deer"></option>
                              <option value="dog"></option>
                              <option value="frog"></option>
                              <option value="horse"></option>
                              <option value="ship"></option>
                              <option value="truck"></option>
                          </datalist>
                <br/>
                <input type="submit" value="提交" class="btn btn-primary" style="margin-top:10px;margin-left:70px" formaction="/labelcifar10"><br/>
               </div>

           </div>
       </div>
        <div class="col-sm-6 col-md-3">
           <div class="thumbnail">
               <img src="static/girl.jpg"
                alt="通用的占位符缩略图">
               <div class="caption">
                    <h3>机器给出的结果是: 没想好如何传多张预测结果出来</h3>
                <h4>还没想好咋显示多张图片及其预测结果，仅做示例</h4>
                <p>请给出标签，标签有： 'airplane' 'automobile' 'bird' 'cat'
                    'deer' 'dog' 'frog' 'horse' 'ship' 'truck'</p>
                <p>您也可以自己增加</p>
                标注<input type="text" name="label" list="mylist1">
                <br/>
                <input type="submit" value="提交" class="btn btn-primary" style="margin-top:10px;margin-left:70px" formaction="/labelcifar10"><br/>
               </div>
           </div>
       </div>
         <div class="col-sm-6 col-md-3">
           <div class="thumbnail">
               <img src="static/girl.jpg"
                alt="通用的占位符缩略图">
               <div class="caption">
                    <h3>机器给出的结果是: 没想好如何传多张预测结果出来</h3>
                <h4>还没想好咋显示多张图片及其预测结果，仅做示例</h4>
                <p>请给出标签，标签有： 'airplane' 'automobile' 'bird' 'cat'
                    'deer' 'dog' 'frog' 'horse' 'ship' 'truck'</p>
                <p>您也可以自己增加</p>
                标注<input type="text" name="label" list="mylist1">
                <br/>
                <input type="submit" value="提交" class="btn btn-primary" style="margin-top:10px;margin-left:70px" formaction="/labelcifar10"><br/>
               </div>
           </div>
       </div>
         <div class="col-sm-6 col-md-3">
           <div class="thumbnail">
               <img src="static/girl.jpg "
                alt="通用的占位符缩略图">
               <div class="caption">
                    <h3>机器给出的结果是: 没想好如何传多张预测结果出来</h3>
                <h4>还没想好咋显示多张图片及其预测结果，仅做示例</h4>
                <p>请给出标签，标签有： 'airplane' 'automobile' 'bird' 'cat'
                    'deer' 'dog' 'frog' 'horse' 'ship' 'truck'</p>
                <p>您也可以自己增加</p>
                标注<input type="text" name="label" list="mylist1">
                <br/>
                <input type="submit" value="提交" class="btn btn-primary" style="margin-top:10px;margin-left:70px" formaction="/labelcifar10"><br/>
               </div>
           </div>
       </div>
    </div>
</form>



{% endblock %}
</body>
</html>