<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
     <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

       <!-- Bootstraps Java Scipts Links -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
     <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

     <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>





</head>
<body>
{% block content %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">项目名称</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
<!--                <li><a href="#">Dashboard</a></li>-->
                <li><a href="#">设置</a></li>
                <li><a href="#">个人主页</a></li>
                <li><a href="{{ url_for('logout') }}">退出登录</a></li>
              </ul>
<!--              <form class="navbar-form navbar-right">-->
<!--                <input type="text" class="form-control" placeholder="Search...">-->
<!--              </form>-->
            </div>
          </div>
    </nav>

<!--<h1 class="text-center">cifar10预测结果显示</h1>-->



   <div class="row" style="padding-top: 80px;">
      <div class="col-md-8">
           <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">面板标题</h3>
              </div>
               <div class="panel-body" >
                    <div class="ct-chart ct-perfect-fourth"></div>

                </div>
           </div>
      </div>




       <div class="col-md-9">

           {% for data in index_list %}


           <div class="col-sm-6 col-md-3">
               <a class="thumbnail">
                   <img src="{{ data[0] }}"
                        alt="通用的占位符缩略图" width="300" height="230">
                   <div class="caption" >

                    <label  class="col-sm-3 control-label" style="margin-top:11.25px;width: 180px;">请求标注</label>
                    <form action="" enctype='multipart/form-data' method='POST'>
                    <input type="text" name="label" list="mylist1" style="margin-top:11.25px; width: 180px;">

                              <datalist id="mylist1">
                                  <option value="airplane"></option>
                                  <option value="automoblie"></option>
                                  <option value="bird"></option>
                                  <option value="cat"></option>
                                  <option value="deer"></option>
                                  <option value="dog"></option>
                                  <option value="frog"></option>
                                  <option value="horse"></option>
                                  <option value="ship"></option>
                                  <option value="truck"></option>
                              </datalist>

                        <center><input type="submit" value="提交" class="btn btn-primary" style="margin-top:20px;" formaction="{{ url_for('labelcifar10',data_3=data[3]) }}"></center>
                    </form>

                   </div>

               </a>

           </div>

           {% endfor %}
       </div>


   </div>


 <center><nav aria-label="Page navigation" >
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
 </nav></center>
{% endblock %}

    <script>
            var myChart;
            var getData = $.get('/data');

            getData.done(function(results){

            var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                results
            ]
            };
            var options = {
            width : 400,
            height : 300
            }

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
             myChart = new Chartist.Line('.ct-chart', data, options);

            });


    </script>

</body>
</html>